.task {
  cursor: grab;
  position: relative;
  padding: 1.2rem 1rem;
  border: 1px solid $purple-bright;
  border-radius: 0.8rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
  &:first-child {
    margin-top: 0;
  }
  &__label {
    cursor: pointer;
    transition: all ease 0.3s;
    fill: $purple-bright;
    &:hover {
      fill: $purple-input;
    }
  }
  &__checkbox {
    transition: all ease 0.3s;
    &-input {
      display: none;

      // &:checked {
      //   ~ label {
      //     background: red;
      //   }
      // }
    }
  }
  &__info {
    margin-left: 1.2rem;
  }
  &__title {
    font-family: 'Inter-Medium', serif;
    font-size: 1.6rem;
    color: $black-text;
  }
  &__description {
    margin-top: 0.2rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $grey-text;
  }
  &__buttons {
    position: absolute;
    content: '';
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  &__button {
    padding: 0.3rem;
    border-radius: 50%;
    background: transparent;
    transition: all ease 0.5s;
    &:hover {
      background: $purple-input;
    }
  }
  &_active {
    border-color: $green;
    .task__label {
      fill: $green;
    }
  }
}
// .checkbox_active {
//   transition: all ease 0.3s;
//   fill: $green;
// }
