.delete-modal {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(240, 49, 49, 0.52) 0%,
    rgba(240, 49, 49, 0) 100%
  );
  z-index: 3;
  text-align: center;
  &__wrapper {
    padding: 40px 80px;
    flex: 0 1 500px;
    margin: auto;
    background-color: $white-text;
    box-shadow: 5px 4px 10px #97989f;
  }
  &__img {
    max-width: 120px;
    width: 100%;
  }
  &__info {
    font-family: 'Inter-SemiBold', serif;
    font-size: 24px;
    margin-top: 20px;
  }
  &__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .button-black {
      margin: 0 15px;
    }
  }
}
