 .menu-lang__wrapper {
 	@include flex-center;
 }

 .menu {
 	margin-right: 3rem;
 }

 .link-signIn {
 	margin-right: 1rem;
 }

 .lang {
 	@include flex-center;

 	.lang__img {
 		margin-right: 0.5rem;
 	}

 	.lang__text {
 		font-family: 'Inter-Medium';
 		font-size: 1.6rem;
 		line-height: 1.9rem;
 	}
 }