.auth-form {
	@include flex-column-center;
	background-color: $white-text;
	width: 350px;
	padding: 20px 40px 40px 40px;
	text-align: center;
	box-shadow: 5px 4px 10px #97989F;
	border-radius: 8px;



	.auth-form_title {
		font-family: 'Playfair Display';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 20px;
	}

	.auth-form__subtitle {
		color: $grey-text;
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 28px;
	}

	.auth-form__form {
		max-width: 360px;
	}

	.auth-form__footer {
		margin-top: 8px;
	}

	.auth-form__input {
		margin-bottom: 28px !important;
		width: 270px;
	}

	.dividing-line {
		margin-top: 15px;
		margin-bottom: 15px;
		border: 1px solid #D1C2E4;
	}

	.sign-up-link {
		font-family: 'Inter';
		font-style: normal;
		color: $purple-bright;

	}

}