@import './components/Project/Project.scss';
@import './components/NewProject/NewProject.scss';
.title {
  font-family: 'Playfair-Bold', serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: capitalize;
  &__projects {
    text-align: center;
    transition: color 0.4s;
  }
}
.projects {
  margin: 4rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
  }

  &__toggler {
    @include flex-center;
    width: fit-content;
    gap: 1.5rem;
    margin: 0 auto;
    cursor: url('../../assets/icons/stick_icon.png'), auto;

    &:hover .title__projects {
      color: $purple-bright;
    }

    &:hover svg path {
      fill: $purple-bright;
    }

    &:active .title__projects {
      color: $yellow;
    }

    &:active svg path {
      fill: $yellow;
    }

    svg {
      display: block;
      width: 3rem;
      height: 3rem;

      path {
        transition: fill 0.4s;
      }
    }
  }
}


@media  screen and (max-width: 1210px) {
  .projects {
    .container {
      max-width: 82rem;
    }
  
    &__wrapper {
      justify-content: space-between;
    }
  }
}

@media  screen and (max-width: 656px) {
  .projects {
    &__wrapper {
      justify-content: center;
    }
  }
}