// .footer {
// 	background-color: $background-footer;
// 	color: $white-text
// }

.footer-wrapper {
	@include flex-center-space-between;
	padding: 8px 0;
}

.link-gitHub {
	color: $white-text;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	background: url(../../../public/icons/logo-github.svg) no-repeat 0px 0px;
	padding-left: 25px;
}

.date {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.links-gitHub-command__item {
	list-style: none;
	padding-left: 24px;
	margin-bottom: 9px;
}