$purple-light: #D1C2E4;
$purple-bright: #BB9CE3;
$green: #78FF8E;
$yellow: #F7D56E;
$red: rgba(240, 49, 49, 0.52);
$black-title: #000000;
$black-text: #191919;
$grey-text: #97989F;
$grey-transparent: rgba(151, 152, 159, 0.52);
$grey-cards: #F5F6F8;