.create-project-form {
  background-color: $white-text;
  width: 35rem;
  padding: 2rem 4rem 4rem 4rem;
  text-align: center;
  box-shadow: 0.5rem 0.4rem 1rem #97989f;
  border-radius: 0.8rem;
  @include fixed-center;
  z-index: 1;
  .create-project-form__title {
    font-family: 'Playfair-Medium';
    color: $grey-text;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }

  .create-project__form {
    max-width: 36rem;
  }

  .create-project-form__input {
    margin-bottom: 2.8rem;
    width: 27rem;

    label {
      font-family: 'Inter-SemiBold';
      font-size: 1.4rem;
      background-color: white;
      padding: 0 0.5rem;
    }

    div {
      height: 4rem;
    }

    input {
      font-family: 'Inter-SemiBold';
      color: $grey-text;
      font-size: 1.6rem;

      &:focus {
        color: $purple-input;
      }
    }
  }

  .create-project-form__textarea {
    margin-bottom: 2.8rem;
    width: 27rem;

    label {
      font-family: 'Inter-SemiBold';
      font-size: 1.4rem;
      background-color: white;
      padding: 0 0.5rem;
    }

    div {
      height: 17.5rem;
    }

    textarea {
      font-family: 'Inter-SemiBold';
      color: $grey-text;
      font-size: 1.6rem;
      padding-top: 1rem;

      &:focus {
        color: $purple-input;
      }
    }
  }

  .button-create {
    margin-left: 2rem;
  }

  .css-k4qjio-MuiFormHelperText-root {
    font-family: 'Inter-Regular';
    font-size: 1.2rem;
  }
}
